@media screen and (max-width: 1080px) {
  
  .Header {
    background-color: white;
    position: fixed;
    z-index: 10;
    padding: 10px 10px;
  }
  
  .Header_list {
    display: none;
  }
  
  .Humberger_menu {
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 10;
  }
  
  .Humberger_line {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    top: 50%;
    }
    
  .Humberger_line:first-child {
      top: 0;
  }
    
  .Humberger_line:last-child {
      top: 100%;
  }
  
  .Re_skilling {
    display: block;
    text-align: center;
  }
  
}



@media screen and (min-width: 768px) {
  
  .FirstView {
     padding-top: 120px;
     padding-bottom: 20px;
  }
  
  .FirstView_button {
  display: flex;
  height: 60px;
  line-height: 60px;
  width: 500px;
  }
  
  .About {
    flex-direction: column;
    padding: 40px 50px;
  }
  
  .About_video {
    width: 75%;
  }
  
  .About_text {
    width: 75%;
    margin-top: 0;
  }
  
}



@media screen and (min-width: 1081px) {
  .FirstView {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .About {
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .About_text h2 {
    font-size: 35px;
  }
  
  .About_video {
    width: 50%;
  }
  
  .Re_skilling {
    display: flex;
    text-align: left;
  }
}


@media screen and (max-width: 767px) {

  main {
    padding-top: 45px;
  }
  
  .Header_image img {
    height: 16px;
    width: auto;
  }
  
  
  .FirstView_container {
    background-image: none;
    margin: 0;
    width: 100%;
  }
  
  .FirstView {
    margin-top: -50vw;
    padding: 0 20px;
  
  }
  
  .MainImage {
    display: block;
  }
  
  .FirstView h2 {
    font-size: 25px;
    display: block;
  }
  
  .FirstView_image img:nth-of-type(1) {
    width: 25%;
  }
  
  .FirstView_image img:nth-of-type(2){
    width: 40%;
  }
  
  .FirstView_image img:nth-of-type(3){
    width: 25%;
    margin-right: 0;
  }

  .FirstView_image {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .FirstView_text {
    margin-bottom: 30px;
  }
  
  .FirstView_button {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 30px;
  }
 
  .About {
    flex-direction: column;
    padding: 20px 20px;
  }
  
  .About_text h2 {
    font-size: 35px;
  }
  
  .About_video {
    width: 100%;
  }
  
  .Re_skilling {
    display: block;
    text-align: center;
  }
}